.homeButtons button{
  margin: 10px;
}

button{
  background: red;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 15px;
  margin: 5px;
}

.tablaSeries{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

table{
  border-collapse: collapse;
}

td, th{
  padding: 10px;
  font-size: 20px;
}

.fotoMain{
  border-radius: 100px;
  width: 100px;
}

.modal.show .modal-dialog{
  z-index: 9999;
}

.sbd-select{
  text-align: left;
}